* {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}
#color-palette {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;


}
.color {
    display: block;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50%;
}
.selected {
   border-radius: 50%;
}
.selected:hover {
  border: 2px solid red;
}
#button-random-color {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 150px;
    height: 40px;
}
#form-board{
    display: flex;
    flex-direction: row;
}
#board-size {
    padding: 5px;
    text-align: center;
    width: 200px;
    margin: auto;
    margin-right: 2px;
}
#generate-board {
    margin: auto;
    cursor: pointer;
    margin-left: 0;
    display: flex;
    width: 70px;
    height: 29px;
    padding-top: 5px;
    justify-content: center;
}
#clear-board {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 30px;  
}
#pixel-board {
    margin-top: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#test {
    display: table-row;
}
.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: table-cell;
    cursor: pointer;
}